Berikut adalah Demo Application Program Interface (API)  untuk mengakses database webserver

In [ ]:
# Impor Library yang diperlukan
from flask import Flask
import requests
import pandas as pd
import numpy as np
import sqlite3
import gunicorn

database SQL dengan nama chinook.db disimpan di localhost (127.0.0.1) pada folder data dengan method GET
API yang digunakan adalah "/data/get/database_name"
database name dapat diisi dengan "chinook.db" atau user dapat memilih database lain jika dalam webserver terdapat lebih dari satu SQL database

# Struktur SQL database Chinook


![](res/database.jpeg)

# 1. Akses Semua Table dalam database chinook

**API yang digunakan /data/get/chinook.db**

![](res/pic1.png)

In [183]:
url1 = 'http://localhost:5000/data/get/books_c.csv'
r1 = requests.get(url1)
r_pd1 = pd.DataFrame(r1.json())
r_pd1.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,4.56,0439785960,9780439785969,eng,652,1944099,26249
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4.49,0439358078,9780439358071,eng,870,1996446,27613
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,4.47,0439554934,9780439554930,eng,320,5629932,70390
3,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,0439554896,9780439554893,eng,352,6267,272
4,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling,4.55,043965548X,9780439655484,eng,435,2149872,33964

In [185]:
url1 = 'http://localhost:5000/data/get/chinook.db'
r1 = requests.get(url1)
r_pd1 = pd.DataFrame(r1.json())
r_pd1

              name
0           albums
1          artists
10          tracks
2        customers
3        employees
4           genres
5         invoices
6    invoice_items
7      media_types
8        playlists
9   playlist_track

# 2 Akses data pada table yang dipilih

**API yang digunakan /data/get/chinook.db/-table-**

API : /data/get/chinook.db/invoices

**Source Code dalam app.py**

![](res/pic2.png)

In [ ]:
url2 = 'http://localhost:5000/data/get/chinook.db/invoices'
r2 = requests.get(url2)
r_pd2 = pd.DataFrame(r2.json())
r_pd2

Table diatas adalah hasil dari API dengan query pada table "Invoices"

# 3. Akses data pada table pada spesifik kolom

**API yang digunakan /data/get/chinook.db/-table-/-column-**

API : /data/get/chinook.db/customers/firstname

In [ ]:
url3 = 'http://localhost:5000/data/get/chinook.db/invoices/BillingCountry'
r3 = requests.get(url3)
r_pd3 = pd.DataFrame(r3.json())
r_pd3

Table diatas adalah hasil dari API dengan query pada table **"Invoices"** kolom **"BillingCountry"**

# 4. menggabungkan 2 table (Invoices & Customers)

**API yang digunakan /data/get/chinook.db/-table1-/-table2-/-key-**

berikut adalah API untuk menggabungkan 2 table (table **Invoices** dan table **Customers**) menngunakan SQL QUERY LEFT JOIN

**Source Code dalam app.py**

![](res/pic3.png)

In [ ]:
url4 = 'http://localhost:5000/data/get/chinook.db/Invoices/Customers/CustomerId'
r4 = requests.get(url4)
r_pd4 = pd.DataFrame(r4.json())
r_pd4.head(10)

# 5. Contoh 1 : API menggabungkan 2 table (Invoices & Customers) dan menampilkannya dalam kolom secara specific

**API yang digunakan /data/get/chinook.db/-table1-/-table2-/-key-/-column1-/column2-**

Uji Coba Skeleton SQL Query yang akan dijalankan ke dalam pada app.py

In [ ]:
table1 = "Invoices"
table2 = "Customers"
key    = "CustomerId"
column1 = "FirstName"
column2 = "Total"
#sql_command = "SELECT "+table1+"."+column+" FROM " +table1+ " LEFT JOIN "+table2+" ON "+table1+"."+key+"="+table2+"."+key
sql_command = "SELECT "+table1+"."+column1+","+table1+"."+column2+" FROM " +table1+ " LEFT JOIN "+table2+" ON "+table1+"."+key+"="+table2+"."+key
sql_command = str(sql_command)
sql_command

**Source Code dalam app.py**

![](res/pic4.png)

In [ ]:
url5 = 'http://localhost:5000/data/get/chinook.db/Invoices/Customers/CustomerId/BillingAddress/Firstname'
r5 = requests.get(url5)
r_pd5 = pd.DataFrame(r5.json())
r_pd5.head()

# 6. Contoh 2 : API untuk mendapatkan kolom Total dan kolom Country

In [ ]:
**API yang digunakan /data/get/chinook.db/-table1-/-table2-/-key-/-column1-/column2-**

In [ ]:
url6 = 'http://localhost:5000/data/get/chinook.db/invoices/customers/CustomerId/Total/Country'
r6 = requests.get(url6)
r_pd6 = pd.DataFrame(r6.json())
r_pd6

# 6. API untuk mendapatkan total invoice berdasarkan kolom Country dengan perintah tambahan top5 top10 top15

**API yang digunakan /data/get/chinook.db/-table1-/-table2-/-key-/-column1-/column2-/top5 or top10 or top15**

Uji Coba Skeleton SQL Query didalam app.py

In [ ]:
table1 = "invoices"
table2 = "customers"
key    = "CustomerId"
column1 = "Total"
column2 = "Country" 
command = "10"

sql_command = "SELECT "+table1+"."+column1+","+table2+"."+column2+" FROM " \
+table1+ " LEFT JOIN "+table2+" ON "+table1+"."+key+"="+table2+"."+key
sql_command

**Source Code dalam app.py**

![](res/pic5.png)

In [ ]:
url7 = 'http://localhost:5000/data/get/chinook.db/invoices/customers/CustomerId/Total/Country/top5'
r7 = requests.get(url7)
r_pd7 = pd.DataFrame(r7.json())
r_pd7

In [ ]:
url7 = 'http://localhost:5000/data/get/chinook.db/invoices/customers/CustomerId/Total/Country/top15'
r7 = requests.get(url7)
r_pd7 = pd.DataFrame(r7.json())
r_pd7

# Demo semua API yang sudah di deploy di webserver

In [182]:
url1 = 'http://localhost:5000/data/get/books_c.csv'
r1 = requests.get(url1)
r_pd1 = pd.DataFrame(r1.json())
r_pd1.head()

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling,4.56,0439785960,9780439785969,eng,652,1944099,26249
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling,4.49,0439358078,9780439358071,eng,870,1996446,27613
2,3,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling,4.47,0439554934,9780439554930,eng,320,5629932,70390
3,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,0439554896,9780439554893,eng,352,6267,272
4,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling,4.55,043965548X,9780439655484,eng,435,2149872,33964

In [ ]:
url1 = 'https://sqlapiabdin.herokuapp.com/data/get/books_c.csv'
r = requests.get(url1)
r_pd = pd.DataFrame(r.json())
r_pd.head()

In [ ]:
url1 = 'https://sqlapiabdin.herokuapp.com/data/get/chinook.db'
r = requests.get(url1)
r_pd = pd.DataFrame(r.json())
r_pd.head()

In [ ]:
url2 = 'https://sqlapiabdin.herokuapp.com/data/get/chinook.db/invoices'
r = requests.get(url1)
r_pd = pd.DataFrame(r.json())
r_pd.head()

In [ ]:
url3 = 'https://sqlapiabdin.herokuapp.com/data/get/chinook.db/invoices/BillingCountry'
r = requests.get(url1)
r_pd = pd.DataFrame(r.json())
r_pd.head()

In [ ]:
url4 = 'https://sqlapiabdin.herokuapp.com/data/get/chinook.db/Invoices/Customers/CustomerId'
r = requests.get(url1)
r_pd = pd.DataFrame(r.json())
r_pd.head()

In [ ]:
url5 = 'https://sqlapiabdin.herokuapp.com/data/get/chinook.db/Invoices/Customers/CustomerId/BillingAddress/Firstname'
r5 = requests.get(url5)
r_pd5 = pd.DataFrame(r5.json())
r_pd5.head()

In [ ]:
url6 = 'https://sqlapiabdin.herokuapp.com/data/get/chinook.db/invoices/customers/CustomerId/Total/Country'
r6 = requests.get(url6)
r_pd6 = pd.DataFrame(r6.json())
r_pd6

In [ ]:
url7 = 'https://sqlapiabdin.herokuapp.com/data/get/chinook.db/invoices/customers/CustomerId/Total/Country/top5'
r7 = requests.get(url7)
r_pd7 = pd.DataFrame(r7.json())
r_pd7

In [ ]:
url7 = 'https://sqlapiabdin.herokuapp.com/data/get/chinook.db/invoices/customers/CustomerId/Total/Country/top15'
r7 = requests.get(url7)
r_pd7 = pd.DataFrame(r7.json())
r_pd7